<html>
<!--
 <head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
 <link rel="javascript" href='script.js' />
 </head>
-->
 <body>
  <h1> Ledien ohjaus</h1>
  <br>
  <h3> Ledien kirkkaus</h3>
  <br>
  <form method ="POST" id ="rangeinput"  action = "/process">
              <input type = "range" name = "red" max=255><br>
              <input type = "range" name = "green" max=255><br>
              <input type = "range" name = "blue" max =255><br>
              <input type = "submit" value = "Laheta">
  </form>
 </body>
<html>
